
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.home-section {
  width: 100%;
  height: 785px;
  background-image: url("../assets/img/startapfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-navigation {
  display: grid;
  grid-template-columns: 500px 80px 95px 80px 80px 70px 85px 80px;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 14px;
  padding-top: 50px;
  justify-content: center;
}

.navi-startup {
  //padding-left: 230px;
  font-size: 24px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

.captions {
  display: grid;
  color: white;
  justify-content: center;
  padding-top: 250px;
  grid-auto-rows: 50px;
}

.nav-welcome {
  font-size: 48px;
  font-family: "Times New Roman", serif;
  text-align: center;
}

.nav-welcome2 {
  font-size: 20px;
  text-align: center;
  padding-top: 35px;
  font-family: "Times New Roman", serif;
}


.button1 {
  margin-left: 170px;
  margin-top: 60px;
  border: 2px solid white;
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-family: "Times New Roman", serif;
}

.services {
  height: 160px;
  width: 100%;
  display: inline-grid;
  text-align: center;
  line-height: 60px;
  padding-top: 90px;
}

hr {
  width: 50px;
  background: #555555;

  //margin-left: 875px;
}

.text-services {
  font-size: 20px;
  font-family: "Times New Roman", serif;

}

.text-services2 {
  font-size: 16px;
  font-family: "Times New Roman", serif;
}

.services-single {
  width: 100%;
  height: 390px;
  align-content: center;
  display: flex;
  grid-column-gap: 50px;
  justify-content: center;
  padding-top: 140px;

}

.service1 {
  width: 330px;
  height: 250px;
  display: inline-grid;
  text-align: center;
  padding-top: 25px;
  grid-auto-rows: 120px 40px 90px;
}

.item-icon {

  width: 90px;
  height: 90px;
  margin-left: 120px;
  background-image: url("../assets/img/start.png");
}

.fa-font {
  padding-top: 25px;
}

.item-icon1 {
  width: 90px;
  height: 90px;
  margin-left: 120px;
  background-image: url("../assets/img/elips.png");
  background-repeat: no-repeat;

}

.fa-code {
  padding-top: 25px;
}

.item-icon2 {
  width: 90px;
  height: 90px;
  margin-left: 120px;
  background-image: url("../assets/img/elips.png");
  background-repeat: no-repeat;
}

.fa-support {
  padding-top: 20px;
}

.about-us {
  width: 100%;
  height: 580px;
  margin-top: 150px;

}

.about-text {
  display: grid;
  grid-template-columns: 550px 550px;
  grid-auto-rows: 160px;
  grid-column-gap: 30px;
  justify-content: center;
}

.about-block {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-auto-rows: 250px;
  grid-column-gap: 30px;
  justify-content: center;
  padding-top: 70px;

}

.about-icon1 {
  background-image: url("../assets/img/namberone.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-icon2 {
  background-image: url("../assets/img/nambertwo.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.about-icon3 {
  background-image: url("../assets/img/namberthree.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-icon4 {
  background-image: url("../assets/img/namberfour.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.social {
  display: flex;
  grid-template-columns: 30px;
  justify-content: center;
  grid-column-gap: 10px;
  padding-top: 180px;

}

.social1:hover {
  background: #c0301c;
  border: 10px solid #c0301c;
}

.social2:hover {
  background: #c0301c;
  border: 10px solid #c0301c;
}

.social3:hover {
  background: #c0301c;
  border: 10px solid #c0301c;
}

.social4:hover {
  background: #c0301c;
  border: 10px solid #c0301c;
}

.name-post {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px;
  grid-auto-rows: 40px;
  grid-column-gap: 140px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  line-height: 30px;
  margin-top: 25px;
}

.menu-section {
  display: flex;
  justify-content: center;
  grid-column-gap: 30px;
  font-size: 16px;

}

.menu_active:hover {
  color: #c0301c;
}

.single_works {
  width: 100%;
  height: 1100px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.single_works_section {
  width: 1150px;
  height: 1150px;
  display: inline-grid;
  grid-template-columns: 350px 350px 350px;
  grid-auto-rows: 310px 310px 310px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.single_works_box:hover {
  opacity: 0.4;
}

.single_works_box1:hover {
  opacity: 0.4;
}

.single_works_box2:hover {
  opacity: 0.4;
}

.single_works_box3:hover {
  opacity: 0.4;
}

.single_works_box4:hover {
  opacity: 0.4;
}

.single_works_box5:hover {
  opacity: 0.4;
}

.single_works_box6:hover {
  opacity: 0.4;
}

.single_works_box7:hover {
  opacity: 0.4;
}

.single_works_box8:hover {
  opacity: 0.4;
}

.single_works_box {
  background-image: url("../assets/img/work1.png");
  background-size: cover;
}

.single_works_box1 {
  background-image: url("../assets/img/work2.png");
  background-size: cover;
}

.single_works_box2 {
  position: relative;
  background-image: url("../assets/img/work3.png");
  background-size: cover;
}

.test1 {
  display: none;
}

.single_works_box2:hover {
  .test1 {
    display: block;
    background-color: red;
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.single_works_box3 {
  background-image: url("../assets/img/work4.png");
  background-size: cover;
}

.single_works_box4 {
  background-image: url("../assets/img/work5.png");
  background-size: cover;
}

.single_works_box5 {
  background-image: url("../assets/img/work6.png");
  background-size: cover;
}

.single_works_box6 {
  background-image: url("../assets/img/work7.png");
  background-size: cover;
}

.single_works_box7 {
  background-image: url("../assets/img/work8.png");
  background-size: cover;
}

.single_works_box8 {
  background-image: url("../assets/img/work9.png");
  background-size: cover;
}

.paralax_section {
  width: 100%;
  height: 370px;
  background-image: url("../assets/img/section.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax-text {
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-family: "Times New Roman", serif;
}

.paralax-text1 {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: "Times New Roman", serif;
}

.button_paralax {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.button_paralax1 {
  border: 2px solid white;
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-family: "Times New Roman", serif;
  opacity: 0.3;
}

.blog {
  width: 100%;
  height: 780px;
  margin-top: 150px;

}

.blog_section {

  display: flex;
  justify-content: center;

}

.img_blog {
  width: 450px;
  height: 320px;
  background-image: url("../assets/img/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_section2 {
  width: 650px;
  height: 320px;
  display: flex;


}

.text_blog {
  width: 75px;
  height: 75px;
  border: 2px solid #777777;
  font-size: 24px;
  text-align: center;
  position: absolute;
  margin-left: 40px;
}

.data_blog {
  position: absolute;
  width: 400px;
  height: 30px;
  font-size: 16px;
  //left: 940px;
  right: 200px;
  color: #c0301c;
  line-height: 30px;
}

.data_blog1 {
  width: 400px;
  height: 30px;
  font-style: italic;
  font-size: 13px;
}

.data_text {
  width: 650px;
  padding-left: 30px;
  padding-top: 100px;
  height: 30px;
  font-size: 14px;

}

.data_text1 {
  padding-top: 50px;
  color: #c0301c;
  font-size: 13px;
  font-weight: bold;
}

.lineblogs {
  background-image: url("../assets/img/lineblogs.png");
  background-repeat: no-repeat;
  height: 50px;
  margin-top: 50px;
  margin-left: 120px;
}

.blog_section1 {
  display: flex;
  justify-content: center;

}

.img_blog1 {
  width: 450px;
  height: 320px;
  background-image: url("../assets/img/blog1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.clients {
  height: 475px;
  background: #f8f8f8;
  margin-top: 50px;
}

.clients_logo {

  height: 220px;
  display: flex;
  justify-content: space-evenly;
align-items: center;
}

.img_clients {
  background-image: url("../assets/img/client1.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;

}

.img_clients1 {
  background-image: url("../assets/img/client2.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
}

.img_clients2 {
  background-image: url("../assets/img/client3.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
}

.img_clients3 {
  background-image: url("../assets/img/client4.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
}

.img_clients4 {
  background-image: url("../assets/img/client5.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
}

.clientstext {
  display: flex;
  justify-content: center;
}

.clients_text {
  width: 780px;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.clients_text1 {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

.circle {
  display: flex;
  justify-content: center;
  grid-column-gap: 10px;
  margin-top: 45px;
}

.circleContent {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #dddddd;
}

.circleContent:hover {
  background: #c0301c;
}

.location {
  height: 420px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.locationContent {
  width: 300px;
  display: grid;
  grid-auto-rows: 50px 70px;
}

.locImg {
  background-image: url("../assets/img/locimg.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.locImg1 {
  background-image: url("../assets/img/locimg2.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.locImg2 {
  background-image: url("../assets/img/locimg3.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.loctext {
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;

}

.loctext1 {
  font-size: 12px;
  padding-left: 20px;
  line-height: 20px;

}

.forms {
  width: 750px;

}

.input {
  width: 350px;
  height: 50px;
}

.formBlock {
  display: flex;
  grid-column-gap: 30px;

}

.form {
  display: grid;
  grid-row-gap: 25px;
}

.textareaBlock {
  padding-top: 25px;
}

.textarea {
  width: 730px;
  height: 100px;
}

.submit {
  width: 170px;
  height: 45px;
}

.submitBlock {
  padding-top: 25px;
  display: flex;
}

.sumbitText {
  display: flex;
  padding-left: 40px;
  padding-top: 10px;
}

.sumbitelement {
  color: red;
}

.footer {
  height: 300px;
  background: #c0301c;
  display: grid;
  grid-auto-rows: 30px;
  align-content: center;
}

.footerimgs {
  display: flex;
  justify-content: center;
  grid-column-gap: 35px;
}

.footerimg {
  background-image: url("../assets/img/footerimg.png");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

.footerTextline {
  border-top: 1px solid white;
  width: 50px;
  margin-left: 650px;
}

.footerText {
  color: white;
  text-align: center;
}


//@media (max-width: 1300px) {
//  body{
//    width: 100%;
//  }
//}
//
//@media (max-width: 992px) {
//  body {
//    max-width: 750px;
//  }
//}
//
//@media (max-width: 620px) {
//  body {
//    max-width: 320px;
//  }
//}
//
//@media all and (min-width: 320px) and (max-width: 1024px)
@media (max-width: 1300px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 320px;
  }
  .header-navigation {
    grid-template-columns: 1fr;

  }
  .services-single {
    flex-direction: column;
    height: unset;

  }
  .single_works_section {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-text{
    grid-template-columns: none;
  }
.about-block{
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
  .name-post{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: initial;
  }
  .section-title{
    padding-top: 80px;
  }
  .data_blog{
    width: unset;
  }
  .data_blog1{
    width: unset;
  }
.textarea{
  width: unset;
}
  .formBlock{
    display: grid;
  }
  .footer{
    margin-top: 100px;
  }
  .footerTextline{
    margin-left: unset;
  }
}